
body{
    background-color: #EFF0F5;
}
    
.addnewAddress{
    background-color:#EFF0F5 ;
    height: 100vh;
}

.addAddress
{
    background-color: white;
}

.addAddress h4
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;

}

.form-group .submit
{
    background-color: #F77B0A; color: #fff;
}

.form-group input
{
    box-shadow: white !important;
}

.form-control:focus {
    border-color: orangered;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px orangered;
}
  
.form-group label 
 {
     color: black;
     font-size: 14px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
 }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}